@keyframes glow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes float {
  from {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  to {
    top: -0.5%;
    left: -3%;
    transform: scale(1.05);
  }
}
