@import "variables";

body {
  background-color: $dim-white;
  font-family: $font-main;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2 {
  font-family: $font-highlight;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: unset;
}
