@media (min-width: 768px) {
  .header {
    padding: 29px 160px;

    &-animation__glow {
      right: -30px;
      top: 17px;
    }

    &-menu {
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      padding: 0;
      margin: 0;
      a {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.2em;
      }
      li:not(:last-child) {
        margin-right: 32px;
      }

      &-link {
        display: none;
      }
    }

    &-section {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  .main-section {
    padding: 68px 152px 100px;

    &-content {
      flex-direction: row;
      gap: 84px;
    }
  }

  .culture-section {
    padding-top: 120px;
    padding-bottom: 120px;

    &__play-button {
      width: 150px;
      height: 150px;
      img {
        width: 70px;
        height: 55px;
        top: 50px;
        left: 48px;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:  "logo logo address address . . ."
                          ". . email email . copyright copyright";
    text-align: left;
    gap: 20px 10px;

    &-logo {
      grid-area: logo;
    }

    &-address {
      grid-area: address;
    }

    &-email {
      grid-area: email;
    }

    &-copyright {
      grid-area: copyright;
    }
  }
}
