@import "variables";

.page-wrapper {
  background-color: $white;
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  position: relative;
  background-image: url("../assets/desktop_background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  a {
    color: $bright-white;
    text-transform: uppercase;
  }
  &-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    top: 16px;
    left: 32px;
    &__glow {
      background-image: url(../assets/glowing_dots.svg);
      animation: glow 2s linear alternate infinite;
    }
    &__move {
      background-image: url(../assets/moving_dots.png);
      animation: float 2s ease-in-out alternate infinite;
    }
  }
  &-name {
    margin-right: 80px;
    a {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.1em;
    }
  }
  &-nav {
    flex-grow: 1;
    max-width: 620px;
  }
  &-menu {
    display: none;
    &-link {
      text-align: end;
      display: block;
      span {
        cursor: pointer;
      }
    }
  }
  &-section {
    padding: 140px 28px 244px;
    text-align: center;
    color: $bright-white;
    position: relative;
    img {
      margin-bottom: 15px;
      transition: transform 1s ease-in-out, scale 1s ease-in-out;
      &:hover {
        transform: rotateY(180deg) scale(1.5);
      }
    }
    &__headline {
      margin-bottom: 40px;
    }
    &__description {
      color: $bright-white;
      opacity: 0.44;
      font-family: $font-main;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.main-section {
  text-align: center;
  padding: 68px 18px 100px;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gray;
    margin-bottom: 26px;
    gap: 24px;
    p {
      flex: 1 1 0;
      text-align: left;
    }
  }
  &__headline {
    color: $dark-gray ;
    margin-bottom: 40px;
  }
  &__description {
    font-weight: normal;
    color: $gray;
    margin-bottom: 44px;
  }
  &__read-more-button {
    width: 115px;
    height: 36px;
    background-color: $aqua;
    border-radius: 18px;
    border: none;
    font-family: $font-highlight;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: $bright-white;
    text-transform: uppercase;
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform-origin: left center;
      transform: rotate(10deg);
    }
  }
}

.culture-section {
  background-image: linear-gradient(#8c4f2a30, #8c4f2a30), url("../assets/desktop_background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 84px 42px;
  color: $bright-white;
  &__headline {
    margin-bottom: 40px;
  }
  &__description {
    font-weight: normal;
  }
  &__play-button {
    position: relative;
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
    background: $blue;
    border-radius: 50%;
    border: none;
    text-align: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    &:hover {
      transform: scale(0.95); /* scale down play button */
      background: $bright-white;  /* change button color */
      transition: all 0.3s ease-in-out;
      img {
        /* change play image color on hover */
        filter: invert(55%) sepia(25%) saturate(963%) hue-rotate(140deg) brightness(140%) contrast(103%);
        transition: all 0.3s ease-in-out;
      }
    }
    img {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;
      filter: none; /*return back play image color */
      transition: filter 0.3s ease-in-out;
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 17px;
  text-align: center;
  line-height: 19px;
  padding: 35px 150px 75px;
  background: $dark-gray;
  color: $bright-white;
  &-logo {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $bright-white;
  }
  &-address, &__email, &__copyright {
    opacity: 0.25;
  }
  &-address {
    font-style: normal;
  }
}

