@import url(https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);

$font-main: Source Sans Pro, Arial, sans-serif;
$font-highlight: Oswald, Arial, sans-serif;

$bright-white: #FFFFFF;
$white: #EEEEEE;
$dim-white: #E5E5E5;
$gray: #666666;
$dark-gray: #464547;
$aqua: #55C2D8;
$blue: #39C2D7;
